<nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab nzTitle="{{ 'gsm.assignCard' | translate }}">
       
    </nz-tab>
    <nz-tab nzTitle="{{ 'gsm.unassignCard' | translate }}"></nz-tab>
   
</nz-tabset>

<form [formGroup]="form">
    <nz-input-group class="input-group w-full">
        <nz-form-label>{{ 'searchAs' | translate }}</nz-form-label>
        <nz-select style="width: 100%;" nzPlaceHolder="{{ 'searchAs' | translate }}" formControlName="searchAs">
            <nz-option nzValue="driverId" nzLabel="ID"></nz-option>
            <nz-option nzValue="phoneNumber" nzLabel="Телефон"></nz-option>
            <nz-option nzValue="transportNumber" nzLabel="Номер транспорта"></nz-option>
        </nz-select>
    </nz-input-group>

    <nz-input-group class="input-group w-full">
        <nz-form-label nzRequired>{{ 'drivers' | translate }}</nz-form-label>
        <nz-select style="width: 100%;" nzShowSearch nzServerSearch nzPlaceHolder="{{ 'drivers' | translate }}"
            [nzShowArrow]="false" formControlName="driverId" (nzOnSearch)="findDriver($event)">
            <nz-option *ngFor="let o of (drivers$ | async)" [nzLabel]="o | label: form.get('searchAs')?.value"
                [nzValue]="o.id">
            </nz-option>
        </nz-select>
    </nz-input-group>

    <nz-input-group class="input-group w-full" *ngIf="type == 'assign'">
        <nz-form-label nzRequired>{{ 'gsm.cardNumber' | translate }}</nz-form-label>
        <input nz-input type="text" formControlName="gcmCardNumber">
    </nz-input-group>

    <div class="button-wrapper">
        <button [nzLoading]="loading" nz-button [ngClass]="{'success-button': type == 'assign' ,'danger-button': type == 'unAssign' }" (click)="onSubmit()"
            [disabled]="form.invalid || loading">
            {{ type | translate }}
        </button>
    </div>
</form>
