<div class="header-page">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/transports">{{ 'transports' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>{{ 'history' | translate }} </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>

<nz-table [nzData]="data" [nzLoading]="loading" [nzNoResult]="empty" [nzFrontPagination]="false"
    [nzPageSize]="pageParams.pageSize" [nzTotal]="totalItemsCount" [nzPaginationPosition]="'both'"
    [nzShowPagination]="true" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th>{{ "action" | translate }}</th>
            <th>{{ "date" | translate }}</th>
            <th>{{'state_number' | translate}}</th>
            <th>{{'driver' | translate}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of data; let i = index">
            <td>{{item.type | translate}}</td>
            <td>{{ item.createdAt | date : "dd.MM.yyyy" }}</td>
            <td>{{item.transport.transportNumber}}</td>
            <td> 
                <span *ngIf="item.driver"> ({{item.driver?.id}}) {{item.driver?.firstName}} {{item.driver?.lastName.slice(0,1)}}.</span>
                <span *ngIf="!item.driver"> {{'no_data' | translate}} </span>
            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #empty>
    <nz-empty></nz-empty>
</ng-template>