<form [formGroup]="form" *ngIf="!loadingPage">
  <div class="cards flex gap">
    <nz-card class="balance-card w-full">
      <div class="card-inner">
        <div class="card-title">{{ 'kazjulBalance' | translate }}</div>
        <div class="card-content">
          <span class="amount">{{kazJulBalance | priceFormat}}</span>
          <span class="currency"> ₸</span>
        </div>
      </div>
    </nz-card>
  </div>
  <nz-input-group class="input-group">
    <nz-form-label>{{ 'kzt_rate' | translate }}</nz-form-label>
    <input nz-input type="text" formControlName="kzCurrencyRate" mask="separator.2">
  </nz-input-group>
  <nz-input-group class="input-group">
    <nz-form-label>{{ 'token' | translate }}</nz-form-label>
    <textarea nz-input formControlName="token" rows="8"> </textarea>
  </nz-input-group>

  <span class="delete-icon">{{'last_update' | translate}}: <b>{{last_update | date:'dd.MM.YYYY HH:mm' : '+1'}}</b> </span> 

  <div class="button-wrapper">
    <button class="success-button" [nzLoading]="loading" (click)="onRequst()" nz-button>{{'update' | translate}} </button>
    <button class="success-button" [nzLoading]="loading" nz-button (click)="onSubmit()">{{'save' | translate}} </button>
  </div>
</form>

<div *ngIf="loadingPage" class="loader-container">
  <span nz-icon nzType="loading" nzTheme="outline" style="font-size: 25px"></span>
</div>