<div *ngIf="perService.hasPermission(Permission.ClientsPage)">
  <div class="header-page mb-2">
    <h2>{{ 'clients' | translate }}</h2>
    <div class="button-group">
      <button nz-button class="secondary-button" (click)="toggleFilter()">
        <span nz-icon nzType="filter" nzTheme="fill"></span>
        {{ 'filter' | translate }}
      </button>
      <button nz-button class="success-button" (click)="sendNotification()" *ngIf="perService.hasPermission(Permission.ClientPush)">
        {{ 'send' | translate }}
      </button>
      <button nz-button class="success-button" (click)="handleDrawer('add')" *ngIf="perService.hasPermission(Permission.ClientCreate)">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        {{ 'add' | translate }}
      </button>
    </div>
  </div>
  
  <div class="filter" [@showHideFilter]="isFilterVisible ? 'show' : 'hide'">
    <div>
      <nz-input-group class="input-group">
        <input [(ngModel)]="filter['clientId'] " type="text" nz-input placeholder="ID" />
      </nz-input-group>
    </div>
  
    <div>
      <nz-input-group class="input-group">
        <input [(ngModel)]="filter['firstName']" type="text" nz-input placeholder="{{ 'name' | translate }}" />
      </nz-input-group>
    </div>
  
    <div>
      <nz-input-group class="input-group">
        <input [(ngModel)]="filter['phoneNumber']" type="text" nz-input placeholder="{{ 'phone' | translate }}"  />
      </nz-input-group>
    </div>
  
  
    <div>
      <nz-input-group class="input-group">
        <nz-date-picker [(ngModel)]="filter['createdAtFrom']" type="date" nz-input [nzAllowClear]="false"
          nzPlaceHolder="{{ 'start_date_reg' | translate }}" class="custom-date-picker">
        </nz-date-picker>
      </nz-input-group>
    </div>
  
    <div>
      <nz-input-group class="input-group">
        <nz-date-picker [(ngModel)]="filter['createdAtTo']" type="date" nz-input [nzAllowClear]="false"
          nzPlaceHolder="{{ 'end_date_reg' | translate }}" class="custom-date-picker">
        </nz-date-picker>
      </nz-input-group>
    </div>
  
  
    <div>
      <nz-input-group class="input-group">
        <nz-date-picker [(ngModel)]="filter['lastLoginFrom']" type="date" nz-input [nzAllowClear]="false"
          nzPlaceHolder="{{ 'start_date_log' | translate }}" class="custom-date-picker">
        </nz-date-picker>
      </nz-input-group>
    </div>
  
    <div>
      <nz-input-group class="input-group">
        <nz-date-picker [(ngModel)]="filter['lastLoginTo']" type="date" nz-input [nzAllowClear]="false"
          nzPlaceHolder="{{ 'end_date_log' | translate }}" class="custom-date-picker">
        </nz-date-picker>
      </nz-input-group>
    </div>
  
  
    <button nz-button nzType="primary" class="search-button" (click)="fiterApply()">
      <span nz-icon nzType="search" nzTheme="outline"></span>
    </button>
    <button nz-button class="reset-button" (click)="resetFilter()">
      <span nz-icon nzType="reload" nzTheme="outline"></span>
    </button>
  </div>
  
  <nz-table [nzData]="data" [nzLoading]="loader" [nzNoResult]="empty" [nzFrontPagination]="false" [nzPaginationPosition]="'both'" [nzScroll]="data.length > 10 ? { y: '60vh' } : { y: '' }"
    [nzPageSize]="pageParams.pageSize" [nzTotal]="pageParams.totalPagesCount" [nzShowSizeChanger]="true" [nzShowPagination]="true"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>No</th>
        <th nzColumnKey="id" [nzSortFn]="true">ID</th>
        <th nzColumnKey="firstName" [nzSortFn]="true">{{ 'full_name' | translate }}</th>
        <th>{{ 'phone' | translate }}</th>
        <th nzColumnKey="createdAt" [nzSortFn]="true">{{ 'register_date' | translate }}</th>
        <th nzColumnKey="lastLogin" [nzSortFn]="true">{{ 'last_enter' | translate }}</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td> {{ i+1 }} </td>
        <td> {{ item.id }} </td>
        <td> {{ item.firstName.toUpperCase() }} {{ item.lastName.toUpperCase() }} </td>
        <td> {{ item.phoneNumbers.length ? (item.phoneNumbers[0].code + item.phoneNumbers[0].number | phoneFormat) : ('no_data' | translate)}} </td>
        <td> {{ item.createdAt | date : 'dd.MM.yyyy' }} </td>
        <td>
          <span *ngIf="item?.user.lastLogin">{{ item.user.lastLogin | date : 'dd.MM.yyyy' }}</span>
          <span *ngIf="!item?.user.lastLogin">{{ 'no_data' | translate }}</span>
        </td>
        <td class="action-col">
          <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
            <i nz-icon nzType="ellipsis" nzTheme="outline" style="cursor: pointer;"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="handleDrawer('view',item.id)"
                *ngIf="perService.hasPermission(Permission.ClientDetail)">
                <div class="dropdown-menu">
                  <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                  <span>{{ 'detail' | translate }}</span>
                </div>
              </li>
  
              <li nz-menu-item (click)="handleDrawer('edit', item.id)"
                *ngIf="perService.hasPermission(Permission.ClientUpdate)">
                <div class="dropdown-menu">
                  <span nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></span>
                  <span>{{ 'edit' | translate }}</span>
                </div>
              </li>
  
              <li nz-menu-item (click)="remove(item.id)" *ngIf="perService.hasPermission(Permission.ClientDelete)">
                <div class="dropdown-menu">
                  <span nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></span>
                  <span>{{ 'remove' | translate }}</span>
                </div>
              </li>
  
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #empty>
    <nz-empty #empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          {{ 'no_data' | translate }}
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>
</div>

<div *ngIf="!perService.hasPermission(Permission.ClientsPage)" class="no-access-container">
  <nz-result nzStatus="error" nzTitle="403" nzSubTitle="{{'accessDeniedPage' | translate}}">
  </nz-result>
</div>