<div class="header-page">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/merchant-driver">{{ 'merchant_driver' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ 'history_transaction' | translate }} {{merchantName}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="button-group">
    <button nz-button class="secondary-button" (click)="toggleFilter()">
      <span nz-icon nzType="filter" nzTheme="fill"></span>
      {{ 'filter' | translate }}
    </button>
    <button nz-button class="success-button" (click)="topupBalance()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      {{ 'top_up_balance' | translate }}
    </button>
  </div>
</div>

<div class="filter" [@showHideFilter]="isFilterVisible ? 'show' : 'hide'">
  <div>
    <nz-input-group class="input-group">
      <input [(ngModel)]="filter['transactionType'] " type="text" nz-input
        placeholder="{{ 'transactionType' | translate }}" />
    </nz-input-group>
  </div>
  <div>
    <nz-input-group class="input-group">
      <nz-date-picker [(ngModel)]="filter['fromDate']" type="date" nz-input [nzAllowClear]="false"
        nzPlaceHolder="{{ 'start_date_reg' | translate }}" class="custom-date-picker">
      </nz-date-picker>
    </nz-input-group>
  </div>
  <div>
    <nz-input-group class="input-group">
      <nz-date-picker [(ngModel)]="filter['toDate']" type="date" nz-input [nzAllowClear]="false"
        nzPlaceHolder="{{ 'start_date_reg' | translate }}" class="custom-date-picker">
      </nz-date-picker>
    </nz-input-group>
  </div>

  <button nz-button nzType="primary" class="search-button" (click)="filterApply()">
    <span nz-icon nzType="search" nzTheme="outline"></span>
  </button>
  <button nz-button class="reset-button" (click)="resetFilter()">
    <span nz-icon nzType="reload" nzTheme="outline"></span>
  </button>

</div>
<div class="cards flex gap">
  <nz-card class="balance-card">
    <div class="card-inner">
      <div class="card-title">{{ 'tirBalance' | translate }}</div>
      <div class="card-content">
        <span class="amount">{{tirBalance | priceFormat}}</span>
        <span class="currency">Tir</span>
      </div>
    </div>
  </nz-card>
  <nz-card class="balance-card">
    <div class="card-inner">
      <div class="card-title">{{ 'serviceBalance' | translate }}</div>
      <div class="card-content">
        <span class="amount">{{serviceBalance | priceFormat}}</span>
        <span class="currency">Tir</span>
      </div>
    </div>
  </nz-card>
</div>
<nz-table [nzData]="data" [nzLoading]="loader" [nzNoResult]="empty" [nzFrontPagination]="false"
  [nzPaginationPosition]="'both'" [nzPageSize]="pageParams.pageSize" [nzTotal]="pageParams.totalPagesCount"
  [nzShowSizeChanger]="true" [nzShowPagination]="true" [nzScroll]="data.length > 0 ? { y: '60vh' } : { y: '' }"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>No</th>
      <th nzColumnKey="id" [nzSortFn]="true">ID</th>
      <th>{{ 'full_name' | translate }}</th>
      <th> {{ 'sum' | translate }} (Tir)</th>
      <th>{{ 'date' | translate }}</th>
      <th>{{ 'type' | translate }}</th>
      <th nzEllipsis>{{'description' | translate}} </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <td> {{ i+1 }} </td>
      <td> {{ item.id }} </td>
      <td> {{ item.createdBy?.staff?.username }}</td>
      <td> {{ item?.tirAmount | priceFormat }} </td>
      <td> {{ item.createdAt | date:'dd.MM.yyyy HH:mm'}} </td>
      <td> {{item.balanceType == 'tirgo' ? ('tirBalance' | translate) : ('serviceBalance' | translate)}}</td>
      <td nzEllipsis [nzTooltipTitle]="item.description" nzTooltipPlacement="top" nz-button nz-tooltip>
        {{item.description}}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #empty>
  <nz-empty #empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    [nzNotFoundContent]="contentTpl">
    <ng-template #contentTpl>
      <span>
        {{ 'no_data' | translate }}
      </span>
    </ng-template>
  </nz-empty>
</ng-template>