<form [formGroup]="form">

    <nz-input-group class="input-group">
        <nz-form-label nzRequired>{{'named' | translate}}</nz-form-label>
        <input formControlName="name" type="text" nz-input placeholder="{{'named' | translate}}"  />
        <div *ngIf="form.get('name').touched && form.get('name').hasError('required')" class="error-message">
            {{ 'name_required' | translate }}
          </div>
    </nz-input-group>

    <nz-input-group class="input-group">
        <nz-form-label nzRequired>{{'codeTNVED' | translate}}</nz-form-label>
        <input  formControlName="codeTNVED" type="text" nz-input placeholder="{{'codeTNVED' | translate}}"  />
        <div *ngIf="form.get('codeTNVED').touched && form.get('codeTNVED').hasError('required')" class="error-message">
            {{ 'code_required' | translate }}
          </div>
    </nz-input-group>

    <div class="button-wrapper">
        <button nz-button class="danger-button" (click)="onCancel()">
            {{ 'cancel' | translate }}
        </button>
        <button nz-button class="success-button" (click)="onSubmit()" [disabled]="form.invalid" [nzLoading]="loading">
            {{ 'save' | translate }}
        </button>
    </div>

</form>