<form [formGroup]="form">
    <ng-container formArrayName="details">
      <div
        *ngFor="let group of pricingFormArray.controls; let i = index"
        [formGroupName]="i"
      >
        <nz-input-group class="input-group">
            <nz-form-label nzRequired>{{service.services[i]?.name}}</nz-form-label>
            <input formControlName="amount" type="text" nz-input placeholder="{{ 'price' | translate }}" required mask="separator.2" />
          </nz-input-group>

      </div>
    </ng-container>
  
    <div class="button-wrapper">
        <button [nzLoading]="loading" nz-button class="danger-button" (click)="onCancel()"
        [disabled]="loading">
        {{ 'services.cancelService' | translate }}
      </button>
        <button [nzLoading]="loading" nz-button class="success-button" (click)="onSubmit()"
          [disabled]="loading || !form.valid">
          {{ 'save' | translate }}
        </button>
      </div>
  </form>
  