<form [formGroup]="form">
  <div>
    <nz-input-group class="input-group">
      <nz-form-label nzRequired>{{service?.service?.name}}</nz-form-label>
      <input formControlName="tirAmount" type="text" nz-input placeholder="{{ 'price' | translate }}" required
        mask="separator.4" />
    </nz-input-group>

  </div>

  <div class="button-wrapper">
    <button [nzLoading]="loading" nz-button class="danger-button" (click)="onCancel()" [disabled]="loading">
      {{ 'services.cancelService' | translate }}
    </button>
    <button [nzLoading]="loading" nz-button class="success-button" (click)="onSubmit()"
      [disabled]="loading || !form.valid">
      {{ 'save' | translate }}
    </button>
  </div>
</form>