<form [formGroup]="form" *ngIf="mode !== 'view' && !loadingPage">

  <nz-input-group class="input-group">
    <nz-form-label nzRequired>{{ 'first_name' | translate }}</nz-form-label>
    <input formControlName="firstName" type="text" nz-input placeholder="{{ 'first_name' | translate }}" required />
    <div *ngIf="form.get('firstName').touched && form.get('firstName').hasError('required')" class="error-message">
      {{ 'firstName_required' | translate }}
    </div>
  </nz-input-group>

  <nz-input-group class="input-group">
    <nz-form-label nzRequired>{{ 'last_name' | translate }}</nz-form-label>
    <input formControlName="lastName" type="text" nz-input placeholder="{{ 'last_name' | translate }}" required />
    <div *ngIf="form.get('lastName').touched && form.get('lastName').hasError('required')" class="error-message">
      {{ 'lastName_required' | translate }}
    </div>
  </nz-input-group>

  <!-- <nz-input-group class="input-group">
    <nz-form-label>{{ 'email' | translate }}</nz-form-label>
    <input formControlName="email" type="text" nz-input placeholder="{{ 'email' | translate }}" required />
    <div *ngIf="form.get('email').touched && form.get('email').hasError('email')" class="error-message">
      {{ 'is_email' | translate }}
    </div>
  </nz-input-group> -->

  <!-- <nz-input-group class="input-group" *ngIf="!edit">
    <nz-form-label nzRequired>{{ 'password' | translate }}</nz-form-label>
    <input formControlName="password" type="text" nz-input placeholder="{{ 'password' | translate }}" required />

    <div *ngIf="form.get('password').touched && form.get('password').hasError('required')" class="error-message">
      {{ 'is_empty' | translate }}
    </div>
    <div *ngIf="form.get('password').touched && form.get('password').hasError('minlength')" class="error-message">
      {{ 'min_length' | translate }}
    </div>
    <div *ngIf="form.get('password').touched && form.get('password').hasError('maxlength')" class="error-message">
      {{ 'max_length' | translate }}
    </div>
    <div *ngIf="form.get('password').touched && form.get('password').hasError('pattern')" class="error-message">
      {{ 'pattern' | translate }}
    </div>
  </nz-input-group> -->


  <nz-input-group class="input-group" [nzAddOnBefore]="countryDropdown" style="width: 100%;">
    <input nz-input formControlName="phoneNumbers" placeholder="{{ 'phone' | translate }}" [mask]="currentMask"
      required />
    <div *ngIf="form.get('phoneNumbers').touched && form.get('phoneNumbers').hasError('required')"
      class="error-message">
      {{ 'is_empty' | translate }}
    </div>
  </nz-input-group>

  <ng-template #countryDropdown>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" style="display: flex; align-items: center;">
      <img src="{{ selectedCountry.flag }}" alt="Selected Country Flag" class="flag-icon" width="20">
    </a>
  </ng-template>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item *ngFor="let country of countries" (click)="selectCountry(country)">
        <img style="margin-right: 5px;" src="{{ country.flag }}" alt="Country Flag" width="20">
        {{ country.name }}
      </li>
    </ul>
  </nz-dropdown-menu>

  <!-- <ul class="gallery">
    <li *ngIf="previewUrl">
      <div class="photo">
        <i class="delete_photo" nz-icon nzType="delete" (click)="removeFile()"></i>
        <img *ngIf="edit && !fileRemoved" [src]="previewUrl | fileFetch:'client'| async" alt="{{previewUrl}}">
        <img *ngIf="!edit || fileRemoved" [src]="previewUrl" alt="{{previewUrl}}">
      </div>
    </li>

    <li>
      <div class="upload_photo" *ngIf="!previewUrl">
        <input type="file" id="uploadPhotos" accept="image/*" name="photo" (change)="onFileSelected($event)">
        <span class="upload-icon" nz-icon nzType="upload"></span>
        <span>{{'passport' | translate}}</span>
        <span style="color: red;">{{ 'passportIsRequired' | translate }}</span>
      </div>
    </li>

  </ul> -->

  <div class="button-wrapper">
    <!-- <button nz-button class="danger-button" (click)="onCancel()">
      {{ 'cancel' | translate }}
    </button> -->
    <button nz-button class="secondary-button" (click)="onBlock()" *ngIf="mode == 'edit'">
      {{ data.isBlocked ? ('unblock' | translate) : ('block' | translate) }}
    </button>
    <button [nzLoading]="loading" nz-button class="success-button" (click)="onSubmit()"
      [disabled]="loading">
      {{ 'save' | translate }}
    </button>
  </div>

</form>

<div *ngIf="mode == 'view' && data && !loadingPage">
  <div class="detail-header">
    <div class="avatar-wrapper">
      <img class="avatar-img" src="./assets/images/avatars/default_avatar.svg" alt="">
    </div>
    <div>
      <div class="user-name">{{ data?.firstName }} {{ data?.lastName }}</div>
      <div class="user-id">#{{ data?.id }}</div>
    </div>
    <div class="rating">
      <i nz-icon nzType="star" nzTheme="fill"></i>
      <span class="rating-value">5</span>
    </div>
  </div>

  <div class="order-info">
    <div class="flex justify-between">
      <div class="order-title">{{ 'orders' | translate }}</div>
      <div class="link" (click)="allOrders()">{{ 'more' | translate }}</div>
    </div>
    <div class="order-summary">
      <div class="order-item">
        <div class="order-count">0</div>
        <div class="order-label">{{ 'total_order' | translate }}</div>
      </div>
      <div class="order-item">
        <div class="order-count">0</div>
        <div class="order-label">{{ 'active' | translate }}</div>
      </div>
      <div class="order-item">
        <div class="order-count">0</div>
        <div class="order-label">{{ 'cancelled' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="order-info">
    <div class="order-title">{{ 'information' | translate }}</div>

    <div class="info-row">
      <div class="info-column">
        <div class="info-label">{{ 'status' | translate }}</div>
        <div class="info-value">
          <span *ngIf="!data?.isBlocked">{{ 'active' | translate }}</span>
          <span *ngIf="data?.isBlocked">{{ 'inactive' | translate }}</span>
        </div>
      </div>
    </div>

    <div class="info-row">
      <div class="info-column">
        <div class="info-label">{{ 'phone' | translate }}</div>
        <div class="info-value">{{ data?.phoneNumbers[0].code + data?.phoneNumbers[0].number | phoneFormat }}</div>
      </div>
      <div class="info-column">
        <div class="info-label">{{ 'email' | translate }}</div>
        <div class="info-value">{{ data?.email ? data?.email : ('no_data' | translate)}}</div>
      </div>
    </div>

    <div class="info-row">
      <div class="info-column">
        <div class="info-label">{{ 'register_date' | translate }}</div>
        <div class="info-value">{{ data?.createdAt | date : 'dd.MM.yyyy' }}</div>
      </div>
      <div class="info-column">
        <div class="info-label">{{ 'last_enter' | translate }}</div>
        <div class="info-value">
          <span *ngIf="data?.user.lastLogin">{{ data?.user.lastLogin | date : 'dd.MM.yyyy' }}</span>
          <span *ngIf="!data?.user.lastLogin">{{ 'no_data' | translate }}></span>
         </div>
      </div>
    </div>
    <div class="photo" *ngIf="previewUrl">
      <img [src]="previewUrl | fileFetch:'client'| async" alt="{{previewUrl}}">
    </div>
  </div>

</div>
<div *ngIf="loadingPage" class="loader-container">
  <span nz-icon nzType="loading" nzTheme="outline" style="font-size: 25px;"></span>
</div>