<form [formGroup]="form">

  <nz-input-group class="input-group">
    <input formControlName="fullName" type="text" nz-input placeholder="{{'full_name' | translate}}" />
  </nz-input-group>

  <nz-input-group class="input-group">
    <input formControlName="username" type="text" nz-input placeholder="{{'login_admin' | translate}}" />
  </nz-input-group>

  <nz-input-group class="input-group">
    <nz-select nzPlaceHolder="{{'role' | translate}}" formControlName="roleId" style="width: 100% !important;">
      <nz-option [nzValue]="role.id" [nzLabel]="role.name" *ngFor="let role of roles"></nz-option>
    </nz-select>
  </nz-input-group>

  <nz-input-group class="input-group" [nzSuffix]="suffixTemplateEye">
    <input formControlName="password" type="text" nz-input placeholder="{{'password' | translate}}" />
  </nz-input-group>
  <ng-template #suffixTemplateEye>
    <i nz-icon [nzType]="'sync'" style="cursor: pointer;" (click)="generatePassword()"></i>
  </ng-template>

  <nz-input-group class="input-group">
    <input formControlName="phone" type="text" nz-input placeholder="{{ 'phone' | translate }}" mask="+000 00 000 00 00"/>
  </nz-input-group>

  <div style="position: absolute; bottom: 10px; right: 10px; display: flex; gap: 10px;">
    <button nz-button class="danger-button" (click)="onCancel()">
      {{ 'cancel' | translate }}
    </button>
    <button nz-button class="success-button" [disabled]="form.invalid" (click)="onSubmit()">
      {{ 'save' | translate }}
    </button>
  </div>

</form>