<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-input-group>
    <nz-form-label nzRequired>{{ 'name' | translate }}</nz-form-label>
    <input type="text" nz-input placeholder="{{ 'name' | translate }}" formControlName="name" />
  </nz-input-group>

  <fieldset formGroupName="permission">
    <legend>{{ 'Разрешения' | translate }}</legend>

    <!-- Grid tuzilishi -->
    <div class="permissions">
      <div
        *ngFor="let perm of permissionKeys"
        class="permission-item"
      >
        <label nz-checkbox [formControlName]="perm">
          {{ perm  }}
        </label>
      </div>
    </div>
  </fieldset>


  <div class="button-wrapper">
    <button nz-button class="danger-button" (click)="onDelete()">
      {{ 'remove' | translate }}
    </button>
    <button [nzLoading]="loading" nz-button class="success-button" (click)="onSubmit()"
      [disabled]="form.invalid || loading">
      {{ 'save' | translate }}
    </button>
  </div>

</form>