<form [formGroup]="form">
    <nz-input-group class="input-group w-full">
        <nz-form-label nzRequired>{{ 'driver_merchant' | translate }}</nz-form-label>
        <nz-select style="width: 100%;" nzShowSearch nzServerSearch nzPlaceHolder="{{ 'driver_merchant' | translate }}"
            [nzShowArrow]="false" formControlName="tmsId" (nzOnSearch)="find($event)">
            <nz-option *ngFor="let o of (tms$ | async)" [nzLabel]="o.companyType + ' ' + o.companyName" [nzValue]="o.id">
            </nz-option>
        </nz-select>
    </nz-input-group>
    <nz-input-group class="input-group w-full">
        <nz-form-label nzRequired>{{ 'volume_l' | translate }}</nz-form-label>
        <input nz-input type="text" formControlName="amount" mask="separator.2">
    </nz-input-group>


    <div class="button-wrapper">
        <button [nzLoading]="loading" nz-button class="success-button" [disabled]="form.invalid || loading" (click)="onSubmit()">
            {{ 'save' | translate }}
        </button>
    </div>
</form>