<div class="header-page mb-2">
    <h2>{{ 'analitics' | translate }}</h2>
</div>

<div class="chart-container">
    <div echarts [options]="amountChartOptions" class="chart" [ngStyle]="{width: '100%', height: '100%'}"></div>
</div>
<div class="table-container">
    <nz-table #basicTable [nzBordered]="true" [nzData]="data" [nzLoading]="loading" [nzNoResult]="empty"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th nzWidth="250px">{{ 'services.serviceName' | translate }}</th>
                <th nzWidth="150px">{{ 'count' | translate }}</th>
                <th nzWidth="150px">{{ 'amount' | translate }} (TIR)</th>
                <th nzWidth="120px">{{ 'percent' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>{{ 'total_order' | translate }}</b></td>
                <td><b>{{ totalCountTable | number }}</b></td>
                <td><b>{{ totalValue | number }}</b></td>
                <td><b>100%</b></td>
            </tr>
            <tr *ngFor="let item of data; let i = index">
                <td>{{ item.name }}</td>
                <td>{{ item.count | number }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.percentage }}%</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #empty>
        <nz-empty></nz-empty>
    </ng-template>
</div>