.flex {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.chart-container {
    flex: 1;
    min-width: 200px;
    height: 400px;
}

.chart {
    width: 100%;
    height: 100%;
}


.echarts-legend-item {
    white-space: normal !important; /* Majburan pastga tushiradi */
    word-wrap: break-word !important;
    word-break: break-word !important;
    max-width: 120px; /* Maksimal kenglik */
}